body {
    background-color: #6A5ACD; /* Warna ungu */
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 20px 0;
}

.welcome-title {
    margin: 0;
    color: #FFF; /* Warna teks putih */
}

.welcome-description {
    margin: 5px 0;
    color: #FFF; /* Warna teks putih */
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF; /* Warna latar belakang putih */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Bayangan lembut */
}

.container h1 {
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #8A2BE2; /* Warna ungu tua */
    color: #FFF; /* Warna teks putih */
    font-size: 16px;
}

button:hover {
    background-color: #7B68EE; /* Warna ungu muda saat disorot */
}
